.form-input_group {
  width: 90%;
  margin: 0 auto;
  min-height: 100px;
  position: relative;
}

.is-invalid input {
  color: $isInvalid;
}

.form-label {
  display: block;
  width: 100%;
  font-size: 25px;
}

.form-input {
  display: block;
  padding: 15px;
  border-radius: 75px;
  border: 1px solid #dfe1e5;
  outline: none;
  width: 100%;
  max-width: 100%;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid #dfe1e5;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.form-error_message {
  color: $isInvalid;
  margin-left: 15px;
}

.js-form-city_list {
  display: none;
  padding: 15px 25px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  border: 1px solid #dfe1e5;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  position: absolute;
  top: 60px;
  background-color: #fff;
  z-index: 100;
}

.form-city_item {
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 20px;
  transition: 0.3s;
}

.form-city_item:hover {
  background-color: #2d72b3;
  color: #ffffff;
}

.js-form-city_list--active {
  display: block;
}

p.form-input {
  margin-top: 0;
}

.reset_password {
  text-align: center;
  margin-top: 20px;
}

.reset_password-link {
  font-size: 25px;
  color: #0043ea;
}

.admin-search_wrapper {
  margin-bottom: 50px;
}

.admin-search_show_wrapper {
  margin: 30px 0;
  text-align: center;

  .btn {
    width: 160px;
    margin: 0 auto;
  }
}

.admin-search_wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  margin-bottom: 0;
  z-index: 10000;
}

.admin-search_wrapper--active {
  display: block;
}

.admin-search_form {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 60px 40px 40px;
  margin-bottom: 0;

  .form-input_group {
    min-height: 70px;
    width: 100%;
  }

  .form-input {
    padding: 10px;
    height: 41px;
    border: 1px solid #d0d2d6;
  }

  input {
    font-size: 16px;
  }

  .form-error_message {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .btn {
    margin-bottom: 0;
  }
}

.admin-search_form_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  transition: 0.3s;
  opacity: 0.7;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.admin-search_form_close:hover {
  opacity: 1;
}

.admin-search_form_close:after,
.admin-search_form_close:before {
  position: absolute;
  right: 5px;
  content: '';
  background-color: #000000;
  width: 30px;
  height: 3px;
  transform: rotate(45deg);
}

.admin-search_form_close:after {
  transform: rotate(-45deg);
}

.clear_value {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 15px;
  height: 15px;
  border: none;
  transition: 0.3s;
  opacity: 0.5;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.clear_value:hover {
  opacity: 1;
}

.clear_value:after,
.clear_value:before {
  position: absolute;
  right: -1px;
  content: '';
  background-color: #000000;
  width: 15px;
  height: 2px;
  transform: rotate(45deg);
}

.clear_value:after {
  transform: rotate(-45deg);
}

.select_element-hidden {
  display: none;
}

.select_element-list {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  background-color: rgba(255, 255, 255, 0.86);
  z-index: 100;

  &:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  }

  &--active {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);

    .select_element-item {
      display: block;
    }

    .select_element-selected {
      border-bottom: 1px solid #d0d2d6;
    }
  }
}

.select_element-item {
  padding: 10px 0 10px 40px;
  display: none;
  background-color: #fff;
  cursor: default;

  &:hover {
    background-color: #b6b6b6;
  }
}

.select_element-selected {
  display: block;
  padding-left: 10px;

  &:hover {
    background-color: #ffffff;
  }
}

.select_element-current {
  position: relative;

  &:after,
  &:before {
    content: '';
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 19px;
  }

  &:after {
    transform: rotate(45deg);
    width: 8px;
    left: 15px;
  }

  &:before {
    transform: rotate(-45deg);
    width: 10px;
    left: 19px;
    top: 18px;
  }
}

@media (min-width: 600px) {
  .admin-search_wrapper {
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .admin-search_form {
    width: 80%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translate(-50%);
    border-radius: 5px;
    margin-bottom: 30px;
  }
}

.checkbox-hidden {
  display: none;
}

.checkbox-toggle_status {
  display: flex;
  justify-content: space-between;
}

.checkbox-txt {
  margin-left: 10px;
  color: #3f3f3f;
}

.checkbox-btn {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #d0d2d6;
  border-radius: 75px;
  cursor: pointer;
}

.checkbox-btn:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #a1a1a1;
  transform: translateY(-50%);
}

.checkbox-btn--active:before {
  left: 100%;
  top: 50%;
  transform: translateX(-100%) translateY(-50%);
  background-color: #0043ea;
}

@media (min-width: 750px) {
  .admin-search_form {
    width: 50%;
  }
}

@media (min-width: 1100px) {
  .admin-search_form {
    width: 40%;
  }
}




